@page "/remind-password"
@layout NotAuthorizedLayout

@inject MultilanguageService multilanguageService
@inject AccountService accountService

@using BillIssue.Web.Domain.Constants
@using BillIssue.Web.Services
@using BlazorStrap

@if (isLoading)
{
    @*TODO add Spinner*@
    <div>LOADING.....</div>
}
else if (remindPasswordSuccess)
{
    <div class="container">
        <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="card custom-card">
                    <div class="card-body p-5">
                        <p class="mb-4 text-muted op-7 fw-normal text-center">@translations[MultilanguageKeyConstants.RemindPasswordSuccessText]</p>
                        <div class="col-xl-12 d-grid mt-2">
                            <a class="btn btn-lg btn-primary" href="login">@translations[MultilanguageKeyConstants.RemindPasswordSuccessButtonText]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="my-5 d-flex justify-content-center">
                    <a href="home">
                        <img src="../assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
                        <img src="../assets/images/brand-logos/desktop-dark.png" alt="logo" class="desktop-dark">
                    </a>
                </div>
                <div class="card custom-card">
                    <div class="card-body p-5">
                        <p class="h5 fw-semibold mb-2 text-center">@translations[MultilanguageKeyConstants.RemindPasswordHeader]</p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center">@translations[MultilanguageKeyConstants.RemindPasswordSubHeader]</p>
                        <div class="row gy-3">
                            <div class="col-xl-12">
                                <label for="signin-username" class="form-label text-default">@translations[MultilanguageKeyConstants.RemindPasswordEmailText]</label>
                                <input type="text" class="form-control form-control-lg" id="signin-username" @bind="@email" placeholder="@translations[MultilanguageKeyConstants.RemindPasswordEmailPlaceholderText]">
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <a class="btn btn-lg btn-primary" @onclick="RemindPasswordStandart">@translations[MultilanguageKeyConstants.RemindPasswordButton]</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <p class="fs-12 text-muted mt-3">@translations[MultilanguageKeyConstants.RemindPasswordHelperText]<a href="register" class="text-primary">@translations[MultilanguageKeyConstants.RemindPasswordLoginLinkText]</a></p>
                        </div>
                        <div class="text-center my-3 authentication-barrier">
                            <span>@translations[MultilanguageKeyConstants.OrText]</span>
                        </div>
                        <div class="btn-list text-center">
                            <button class="btn btn-icon btn-light">
                                <i class="ri-google-line fw-bold text-dark op-7"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@code {
    private string email = "";
    private string password = "";
    private bool showPassword = false;
    private bool remindPasswordSuccess = false;

    private bool isLoading;

    private string[] usedTranslationKeys = {
        MultilanguageKeyConstants.RemindPasswordHeader,
        MultilanguageKeyConstants.RemindPasswordSubHeader,
        MultilanguageKeyConstants.RemindPasswordEmailText,
        MultilanguageKeyConstants.RemindPasswordEmailPlaceholderText,
        MultilanguageKeyConstants.RemindPasswordButton,
        MultilanguageKeyConstants.RemindPasswordHelperText,
        MultilanguageKeyConstants.RemindPasswordLoginLinkText,
        MultilanguageKeyConstants.OrText,
        MultilanguageKeyConstants.RemindPasswordSuccessText,
        MultilanguageKeyConstants.RemindPasswordSuccessButtonText
    };

    private Dictionary<string, string> translations = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        isLoading = true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            translations = await multilanguageService.GetTranslations(usedTranslationKeys);
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task RemindPasswordStandart()
    {
        if (string.IsNullOrEmpty(email))
        {
            //TODO add validation
            return;
        }

        if (await accountService.RemindPassword(email))
        {
            remindPasswordSuccess = true;
            StateHasChanged();
        }
    }
}