@using BillIssue.Data.Enums
@using BillIssue.Interfaces.Multilanguage
@using BillIssue.Web.Domain.Constants
@using BillIssue.Web.Services
@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    @*TODO add nice 404 page*@
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Inject] private StateService? StateService { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (StateService != null)
            {
                await StateService.RetrieveFromLocalStorage();
                StateHasChanged();
            }
        }
    }
}