@using Microsoft.AspNetCore.Components.Web
@namespace ynex.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-nav-layout="vertical" data-vertical-style="overlay">

<head>
    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="keywords" content="blazor, blazor c#, blazor template, dashboard, blazor ui, dashboard template, blazor bootstrap, blazor framework, admin, blazor net, blazorstrap, bootstrap css, admindashboard, bootstrap blazor, bootstrap admin">
    <base href="~/" />

    <!-- TITLE -->
    <title> Ynex - Blazor Server Bootstrap5 Premium Admin & Dashboard Template </title>

    <!-- Favicon -->
    <link rel="icon" href="@($"{NavigationManager.BaseUri}assets/images/brand-logos/favicon.ico")" type="image/x-icon">

    <!-- Style Css -->
    <link href="@($"{NavigationManager.BaseUri}assets/css/styles.css")" rel="stylesheet">

    <!-- Icons Css -->
    <link href="@($"{NavigationManager.BaseUri}assets/css/icons.css")" rel="stylesheet">

    <!-- Tom Select CSS -->
    <link rel="stylesheet" href="@($"{NavigationManager.BaseUri}assets/libs/tom-select/css/tom-select.bootstrap5.min.css")">

    <!-- ColorPicker CSS -->
    <link href="_content/BlazorColorPicker/colorpicker.css" rel="stylesheet" />
    <link href="_content/BlazorColorPicker/BlazorColorPicker.bundle.scp.css" rel="stylesheet" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

</head>

<body>
    @RenderBody()

    <!-- Popper JS -->
    <script src="@($"{NavigationManager.BaseUri}assets/libs/@popperjs/core/umd/popper.min.js")"></script>

    <!-- Bootstrap JS -->
    <script src="@($"{NavigationManager.BaseUri}assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

    <script async defer>
        window.onload = function () {
            setTimeout(() => {
                let javascriptLinks = [
                    "/assets/js/custom.js"
                ]

                javascriptLinks.map((link) => {
                    var scriptElement = document.createElement('script');
                    scriptElement.src = link;
                    document.head.appendChild(scriptElement);
                })

            }, 100);
        };
    </script>

    <script>
        // Load scripts after DOM content is loaded
        document.addEventListener("DOMContentLoaded", function () {
            var scriptUrls = [
                "_content/Soenneker.Blazor.TomSelect/tomselectinterop.js",
                "../assets/libs/tom-select/js/tom-select.complete.min.js",
            ];
            // Load each script dynamically
            scriptUrls.forEach(function (url) {
                var script = document.createElement("script");
                script.src = url;
                document.body.appendChild(script);
            });
        });
    </script>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/javaScriptInterop.js"></script>
    <script src="js/resizeInterop.js"></script>

    <script>

        function CaptureElementAndCallBlazorFunction(event, menuData) {
            var element = event.currentTarget;
            var menuId = element.dataset.menuId;
            window.DotNet.invokeMethodAsync("ynex.SubNavMenu", "TriggerFunction", element, menuData, null);
        }

    </script>

</body>

</html>